@font-face {
    font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf) format('truetype');
}

body {
    background: #E8E8E4;
}

.sidebar {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    background-color: #DDD4CB;
    font-family: poppins-bold;
    padding-left: 0.5rem;
    font-weight: bold;
    font-size: large;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-left: 12%;
    padding-right: 2%;
}

.note {
    background: #FFD7BA;
    margin: 30px;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    max-width: calc(25% - 10px);
    min-width: 10%;
    margin: 5px;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

.note h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline rgb(0, 0, 0) 3px;
}

.note h2:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 1.5s ease-out;
}

.note h2:active {
    transform: scale(1.1);
    transition: transform 500ms ease-out;
}

footer {
    position: fixed;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #7A9A7A;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -0.5rem;
    margin-bottom: -0.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}