body {
    background: #badbe5;
}

.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.post {
    background: #f0f5d6;
    margin: 30px;
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;

}

.post h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline rgb(0, 0, 0) 3px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin-left: -0.5rem;
    margin-bottom: -0.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}