<!DOCTYPE html>
<html>
    <head>
        <title>Tiny Texts</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <div class="topnav">
            <h1>Tiny Texts</h1>
        </div>
        <div class="center">
            <div class="add_note_form">
                <form action="/submit" method="post">
                    <label for="title">Note Title:</label>
                    <input type="text" id="title" name="title"><br>

                    <label for="content">Content:</label>
                    <input type="text" id="content" name="content"><br>
                    
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>

    <footer>
        <div class="tooltip">
            <a href="https://github.com/MrEnder0">
                <span class="tooltiptext">Check out my GitHub</span>
                <img src="static/img/github.png" alt="GitHub" height="60px" width="60px">
            </a>
        </div>
    </footer> 
</html>
