<!DOCTYPE html>
<html>
    <head>
        <title>Tiny Texts Error</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/error.css">
    </head>
    <body>
        <div class="topnav">
            <h1>Tiny Texts</h1>
        </div>
        <div class="center" style="margin-top: 50vh;">
            <div class="error">
                <h1>{{error_message}}</h1><br>

                <h2>Click <a href="/">here</a> to go back to the home page</h2>
            </div>
        </div>
    </body>

    <footer>
        <div class="tooltip">
            <a href="https://github.com/MrEnder0">
                <span class="tooltiptext">Check out my GitHub</span>
                <img src="static/img/github.png" alt="GitHub" height="60px" width="60px">
            </a>
        </div>
    </footer>
</html>
