<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <div class="topnav">
        <h1>Blog Posts</h1>
    </div>
    <div class="center">
        {{#each posts}}
            <div class="post">
                <h2>{{title}}</h2>
                <p>{{content}}</p>
            </div>
        {{/each}}
    </div>
  </body>
</html>
