<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
  </head>
  <body>
    <h1>Blog Posts</h1>
    {{#each posts}}
        <div class="post">
            <h2>{{title}}</h2>
            <p>{{content}}</p>
        </div>
    {{/each}}
  </body>
</html>
