<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!--<link rel="script" type="text/javascript" href="static/js/script.js">-->
    </head>
    <body>
        <div class="topnav">
            <h1>Blog Posts</h1>
        </div>
        <div class="center">
            {{#each posts}}
                <div class="post">
                    <button onclick="navigator.clipboard.writeText('{{content}}');" style="background-color: transparent; outline: none; border: none;">
                        <h2>{{title}}</h2>
                    </button>
                    <p>{{content}}</p>
                </div>
            {{/each}}
        </div>
    </body>

    <footer>
        <div class="tooltip">
            <a href="https://github.com/MrEnder0">
                <span class="tooltiptext">Check out my GitHub</span>
                <img src="static/img/github.png" alt="GitHub" height="60px" width="60px">
            </a>
        </div>
    </footer> 
</html>
