<!DOCTYPE html>
<html>
    <head>
        <title>Tiny Texts</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <div class="topnav">
            <h1>Tiny Texts</h1>
        </div>
        <div class="center">
            <div class="add_note_form">
                <form action="/add_note" method="post">
                    <label for="title">Note Title:</label>
                    <input type="text" id="title" name="title"><br>

                    <label for="content">Content:</label>
                    <input type="text" id="content" name="content"><br>
                    
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>

    {{{github_link}}}

</html>
