<!DOCTYPE html>
<html>
    <head>
        <title>Tiny Texts</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/css/index.css">
    </head>
    <body>
        <div class="topnav">
            <h1>Tiny Texts</h1>
        </div>
        <div class="center">
            {{#each posts}}
                <div class="post">
                    <button onclick='navigator.clipboard.writeText("{{content}}");' style="background-color: transparent; outline: none; border: none;">
                        <h2>{{title}}</h2>
                    </button>
                    <p>{{content}}</p>
                </div>
            {{/each}}
        </div>

        <!--Add post button-->
        <div class="add_note">
            <a href="/add_note">
                <img src="static/img/add.png" alt="Add Post" height="60px" width="60px">
            </a>
        </div>
    </body>

    {{> social_links }}

</html>
